.btn_register,.btn_home, .btn_profile{
     display: flex;
     color: var(--color-brand-1);
     height: 2rem;
     padding: .25rem 1.5rem .25rem 1.5rem ;
     border: 1px solid var(--color-brand-1);
     border-radius: 1rem;
     background-color: var(--color-white);
     font-family: var(--font-family-3);
     font-size: var(--font-text-1);
     font-weight: var(--font-weight-2);
}
.btn_login, .btn_logout{
     color: var(--color-white);
     height: 2rem;
     padding: .25rem 1.5rem .25rem 1.5rem ;
     border: 1px solid var(--color-brand-1);
     border-radius: 1rem;
     background-color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-text-1);
     font-weight: var(--font-weight-2);
}
.btn_closeModal{
     cursor: pointer;
     position: absolute;
     right: 1.5rem; top: 1rem;
     padding: .4rem .54rem;
     color: var(--color-white);
}
.btn_enter{
     color: var(--color-white);
     height: 2rem; width: 15rem;
     padding: .25rem 1.5rem .25rem 1.5rem ;
     border: 1px solid var(--color-brand-1);
     border-radius: 1rem;
     background-color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-text-1);
     font-weight: var(--font-weight-2);
}

