@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
:root {
     --color-brand-1: #4E2096;
     --color-brand-2: #B48CF2;
     --color-black: #1B1C1E;
     --color-grey-1: #90A4AE;
     --color-grey-2: #EEEEEE;
     --color-white: #FFFFFF;
   
     --color-alert: #EA534A;
     --color-sucess: #33CC66;
   
     --bg-color: #FFFFFF;
     --bg-button: #0d1114;
   
     --font-title-1: 3rem; /* 48 pixels */
     --font-title-2: 2.375rem; /* 38 pixels */
     --font-title-3: 1.75rem; /* 28 pixels */
     --font-title-4: 1.125rem; /* 18 pixels */
     --font-text-1: 1rem; /* 16 pixels */
     --font-text-2: 0.875rem; /* 14 pixels */
     --font-text-3: 0.75rem; /* 12 pixels */
     --font-text-4: 1.5rem; /* 24 pixels */
   
     --font-weight-1: 700;
     --font-weight-2: 600;
     --font-weight-3: 500;
     --font-weight-4: 400;
   
     --line-heigth-1: 2.5rem; /* 40 pixels */
     --line-heigth-2: 1.75rem; /* 28 pixels */
     --line-heigth-3: 1.5rem; /*  24 pixels */
     --line-heigth-4: 1rem; /* 16 pixels */
   
     --radius-1: 2px
     --radius-2: 4px;
     --radius-3: 8px;
     --radius-4: 16px;
     --radius-5: 32px;
     --radius-100: 100%;
   
     --size-1: 56px;
     --size-2: 48px;
     --size-3: 36px;
   
     --gap-1: 2rem; /* 32 pixels */
     --gap-2: 1.75rem; /* 28 pixels */
     --gap-3: 1.5rem; /*  24 pixels */
     --gap-4: 1.25rem; /* 20 pixels */
     --gap-5: 1rem; /* 16 pixels */
   
     --paddingInlineButton: 32px;
     --paddingLeft: 22px;
   
     --container-1: 1200px;
     --container-2: 900px;
   
     --font-family-1: Verdana, Geneva, Tahoma, sans-serif;
     --font-family-2: Tahoma, sans-serif;
     --font-family-3: Open Sans, sans-serif
}
   
 
img {
    max-width: 100%;
}
   
.container {
     max-width: var(--container-1);
     margin: 0 auto;
}
   
   /* CONFIGURAÇÕES BASE DE TEXTO */
body, button, input, textarea {
     font-family: var(--font-family-1);
     font-weight: var(--font-weight-3);
     line-height: var(--line-heigth-4);
}

/* H1 ou H2 */
.title-1 {
     font-size: var(--font-title-1);
     font-weight: var(--font-weight-1);
     line-height: var(--line-heigth-1);
}

/* H2 ou H3 */
.title-2 {
     font-size: var(--font-title-2);
     font-weight: var(--font-weight-2);
     line-height: var(--line-heigth-2);
}

/* TEXTO PADRÃO, SE FICAR IGUAL AO DECLARADO ACIMA DO BODY NEM PRECISA ADICIONAR NAS TAGS */
.text-1 {
     font-size: var(--font-text-1);
     font-weight: var(--font-weight-3);
     line-height: var(--line-heigth-4);
}

/* TEXTO PEQUENO */
.text-2 {
     font-size: var(--font-text-2);
     font-weight: var(--font-weight-4);
     line-height: var(--line-heigth-4);
}