
.header_container{
     width: 100vw; height: 10vh;
     padding: 0 .25rem 0  .3rem;
     background-color: var(--color-white);
     gap: .2rem;
     display: flex;
     align-items: center;
     flex-direction: column;
}
.logo{
     color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-title-3);
     font-weight: var(--font-weight-2);
     padding: 1rem;
}
.title{
     color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-title-3);
     font-weight: var(--font-weight-2);
     margin-bottom: 1rem;
}
.buttons{
     gap: 1rem;
     display: flex;
     flex-direction: row;
}
.footer_container{
     width: 100vw; height: 5vh;
     padding: 0 1rem;
     background-color: #F1EEF7;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     position: absolute;
     bottom: 0;
}
.footer_text{
     color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-text-3);
     font-weight: var(--font-weight-4);
     line-height: 11px;
} 
.text{
     margin: .5rem 0 0 -2rem;
     color: var(--color-black);
     font-family: var(--font-family-3);
     font-size: var(--font-text-0);
     font-weight: var(--font-weight-2);
     line-height: 11px;
}
.register,.login{
     cursor: pointer;
     color: var(--color-brand-1);
     font-family: var(--font-family-3);
     font-size: var(--font-text-0);
     font-weight: var(--font-weight-2);
     line-height: 11px;
}


@media(min-width: 425px){
     .header_container{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
     }
     .buttons{
          gap: .4rem;
          display: flex;
     }
}