.form{
     height: 80%;
     display: flex;
     align-items: center;
     flex-direction: column;
     padding: 2rem;
}
input{
     width: 15rem; height: 1.7rem;
     padding: 1rem;
     border: 1px solid var(--color-brand-2);
     border-radius: 1rem;
     background-color: var(--color-white);
     font-family: var(--font-family-3);
     color: var(--color-brand-2);
}
input::placeholder {
     color: var(--color-brand-2);
}
input[type=name]{
     margin-bottom: 1rem;
}
input[type=email]{
     margin-bottom: 1rem;
}
input[type=password]{
     margin-bottom: 1rem;
}
input[type=url]{
     margin-bottom: 1rem;
}