#pets {
    max-width: 1010px;
}

#cards__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#cards__list > li {
    display: flex;
    gap: 16px;
    align-items: center;

    width: 480px;
    max-width: 100vw;
    height: 200px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#cards__list > li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#cards__list > li > img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}

#cards__list > li > div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-right: 16px;
}

#cards__list > li > div > ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#cards__list > li > div > ul > li {
    display: flex;
    flex-direction: column;

    word-break: break-word;
}

#cards__list > li > div > ul > li > span:nth-child(odd) {
    color: var(--color-brand-1);
    font-weight: var(--font-weight-1);
}

#cards__list > li > div > button {
    width: fit-content;
}

@media screen and (min-width: 420px) {
    #cards__list > li {
        gap: 36px;
    }
    #cards__list > li > div > ul > li {
        flex-direction: row;
        word-break: normal;
    }
}